body {
    font-family: "Lato", sans-serif;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

div>label {
    padding-top: 20px;
    display: block !important;
    font-weight: bold;
    font-size: 15px;
    padding: 0 !important;
    margin: 0 !important;
}
label>abbr {
    display: block !important;
    color: #DBDBE5 !important;
}

.login-form{
    padding-left: 20px !important;
    padding-bottom: 20px !important;
    border: solid 1px black !important;
    border-radius : 25px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    // .login-form{
    //     margin-top: 10%;
    // }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    // .login-form{
    //     margin-top: 80%;
    // }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}